/* Reset margin dan padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Header dan footer tetap tampil */
header {
  background-color: #1f2937;
  color: #facc15;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 6px;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Peta mengisi seluruh ruang di antara header dan footer */
main {
  height: calc(100vh - 110px); /* header + footer height */
}

#map {
  height: 100%;
  width: 100%;
}
