/* Reset & Layout */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fc;
}

/* Header */
header {
  background-color: #0b213d;
  color: #f9d71c;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Map */
#map {
  width: 100%;
  height: calc(100vh - 120px); /* sisakan ruang untuk header + footer */
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

/* Footer */
footer {
  background-color: #0b213d;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Hover efek */
footer a {
  color: #f9d71c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
